.item-pair-row {
	width: 100%;
	height: calc(300px + 25px);
}

.item-box {
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	border-radius: 6px;
	width: 31%;
	margin: 1%;
	float: left;
	height: 300px;
	background-color: white;
}

.item-box-body {
	overflow-y: auto;
	height:260px;
}

.item-box-header {
	border-bottom: 1px solid #f2f2f2;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tooltip.top .tooltip-inner {
    background-color:red;
}

.tooltip.top .tooltip-arrow {
      border-top-color: red;
}

.statusFilterContainer, .ruleFilterContainer, .simFilterContainer, .summaryContainer, .goldFilterContainer, .featureThreshContainer {
	position: relative;
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #e3e9ff;
	border: 1px solid #bcf;
	border-radius: 7px;
}

.statusFilterHeader, .ruleFilterHeader, .simFilterHeader, .summaryHeader, .goldFilterHeader, .featureThreshHeader {
	height: 25px;
	line-height:25px;
	background-color: #bcf;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	padding: 0px 10px 0px 10px;
}

.summaryBody {
	background-color: white;
}

.statusFilterBody, .ruleFilterBody, .simFilterBody, .goldFilterBody, .featureThreshBody {
	margin-left:10px;
	margin-top:10px;
	margin-bottom: 10px;
}

.debug-modal-notes {
	margin: 10px 10px 10px 10px;
	font-size: smaller;
}

.matched {
	background-color: #AEF0AB;
}

.in-gold .item-box-header{
	background-color: #FFAC75;
}

.debug-header-dropdown {
	margin-right: 10px;
	display: inline;
	position: relative;
	float: left;
}

.debug-header-dropdown > .btn {
	padding: 2px 5px;
	margin-bottom: 4px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

#matching_summary_container {
	width: 300px;
	min-height:100%;
	margin-left: 30px;
	margin-top: 30px;
}

.features-tooltip {
	float: right;
}

.queryTextArea {
	height: 20px;
}