@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Browse matchers modal -->
<div class="modal hide fade" id="browse_matchers_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Matcher library (@project.getMatcherNames().size() matcher)</h4>
      </div>
      <div class="modal-body">
      	
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Table 1</th>
                <th>Table 2</th>
                <th>Matcher String (Short)</th>
                <th>Matcher String (Long)</th>
            </tr>
        </thead>
        <tbody>
        	@for(matcherName <- project.getMatcherNames()){
            	<tr>
                	<td>@matcherName</td>
                	<td>@project.findMatcherByName(matcherName).getTable1Name()</td>
                	<td>@project.findMatcherByName(matcherName).getTable2Name()</td>
                	<td>@project.findMatcherByName(matcherName).getShortDisplayString()</td>
                	<td>@project.findMatcherByName(matcherName).getDisplayString()</td>
            	</tr>
			}
        </tbody>
    </table>
      </div>
      <div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	  </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->