@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Matching Details Modal -->
<div class="modal hide fade" id="matching_details_on_fly_with_labeled_data_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Debug on the fly with labeled data</h4>        
      </div>
      <div class="modal-body">
        @if(project.getTableNames() == null || project.getTableNames().isEmpty()) {
	       <p class="text-center danger"><b>No tables found</b></p>
	       </div>
        }
        @if(project.getTableNames() != null && !project.getTableNames().isEmpty()) {
        	<form class="form-horizontal" id="matching_details_with_labeled_data_online_form" 
        		data-target="#matching_details_on_fly_with_labeled_data_modal" method="post" 
    			action="@controllers.debug.routes.DebugController.postIndexOnFlyWithLabeledData(project.getName())" role="form" 
    			enctype="multipart/form-data">
	           	<fieldset>
	               	<div class="control-group">        
	                   	<label class="control-label" for="table1"><b>Table 1</b></label>  
	                   	<div class="controls">  
	                       	<select id="table1_name_dfl" name="table1_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	           		<div class="control-group">        
	                   	<label class="control-label" for="table2"><b>Table 2</b></label>  
	                   	<div class="controls">  
	                       	<select id="table2_name_dfl" name="table2_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	<div class="control-group">        
	                   	<label class="control-label" for="candset"><b>Labeled Data</b></label>  
	                   	<div class="controls">  
	                       	<select id="labeled_data_dfl" name="labeled_data">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
					<div class="control-group">        
	                   	<label class="control-label" for="matcher"><b>Matcher</b></label>  
	                   	<div class="controls">  
	                       	<select id="matcher_name_dfl" name="matcher_name">
	                           	@for(matcherName <- project.getMatcherNames()){
	                               <option value="@matcherName">@matcherName</option>
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               
	            </fieldset>       
	        </form>
	 </div>       
	 <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="matching_details_dfl_btn" form="matching_details_with_labeled_data_online_form" class="btn btn-primary" type="submit">Submit</button>
      </div>	    
      }
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->