@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Save table modal -->
<div class="modal hide fade" id="save_table_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Save an unsaved table to disk</h4>
      </div>
      <div class="modal-body">
      	@if(project.getUnsavedTables() == null || project.getUnsavedTables().isEmpty()) {
            <p class="text-center danger"><b>No unsaved tables found</b></p>
        }
        @if(project.getUnsavedTables() != null && !project.getUnsavedTables().isEmpty()) {
	      	<form class="form-horizontal" id="save_table_form"
	      			data-target="#save_table_modal" method="post"
	                action="@controllers.project.routes.ProjectController.saveTable(project.getName())" role="form"
	         >
	        	
	           	<fieldset>
	               	<div class="control-group">        
	                   	<label class="control-label" for="table"><b>Table Name</b></label>  
	                   	<div class="controls">  
	                       	<select id="table_name" name="table_name">
	                        	@for(tableName <- project.getUnsavedTables()) {
	                               	<option value="@tableName">@tableName</option>
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	            </fieldset> 
	        </form>
      	}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="save_table_btn" form="save_table_form" class="btn btn-primary" type="submit">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->