<div id="facets">
	<div id="facets-header">
	</div>
	
	<div id="facets-desc">
	</div>
</div>

<div id="facets-right">
	<div id="header-panel">
		<strong><span id="header-message"></span></strong>
	</div>
	
	<div id="viewpanel">
		<div id="viewpanel-pagesize">
			<span>Show </span>
			<a href="javascript:{}" class="viewPanel-pagingControls-page">5</a>
			<a href="javascript:{}" class="viewPanel-pagingControls-page">10</a>
			<a href="javascript:{}" class="viewPanel-pagingControls-page">20</a>
			<a href="javascript:{}" class="viewPanel-pagingControls-page">50</a>
		</div>
		<div id="viewpanel-paging">
			<a href="javascript:{}" class="inaction" id="getFirst">« first</a>
			<a href="javascript:{}" class="inaction" id="getPrev">‹ previous</a>
			<span class="viewpanel-pagingcount"> <span id="first"></span>-<span id="last"></span> </span>
			<a href="javascript:{}" class="" id="getNext">next ›</a>
			<a href="javascript:{}" class="" id="getLast">last »</a>
		</div>
	</div>
	
	<div id="facets-right-content">
	</div>

</div>