@(project: com.walmart.productgenome.matching.models.data.Project)
 
<ul class="nav nav-tabs">
   <li class="dropdown" id="project-nav">
   	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Project <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
         <li><a data-toggle="modal" href="#new-project-modal1">Create New Project</a></li>
         <li><a href="#">Open Existing Project</a></li>
         <li><a href="@controllers.project.routes.ProjectController.saveProject(project.getName())">Save Project</a></li>
         <li><a href="#">Delete Project</a></li>
         @if(project.getTableNames().isEmpty()) {
         	<li class="disabled"><a href="#">Set Defaults</a></li>
         }
         @if(!project.getTableNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#set_defaults_modal">Set Defaults</a></li>
         }
         <li class="divider"></li>
         <li><a data-toggle="modal" href="#exit-project-modal">Exit Project</a></li>
      </ul>
   </li>
   <li class="dropdown" id="table-nav">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Table <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getTableNames().isEmpty()) {
         	<li class="disabled"><a href="#">Browse Table</a></li>
         }
         @if(!project.getTableNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#open-table-modal">Browse Table</a></li>
         }
         <li><a data-toggle="modal" href="#import_table_from_csv_modal">Import Table from .csv file</a></li>
         <li><a data-toggle="modal" href="#import_table_modal">Import Table from .table file</a></li>
         @if(project.getUnsavedTables().isEmpty()) {
         	<li class="disabled"><a href="#">Save Table</a></li>
         	<li class="disabled"><a href="#">Save All Tables</a></li>
         }
         @if(!project.getUnsavedTables().isEmpty()) {
         	<li><a data-toggle="modal" href="#save_table_modal">Save Table</a></li>
         	<li><a href="@controllers.project.routes.ProjectController.saveAllTables(project.getName())">Save All Tables</a></li>
         }
         @if(project.getTableNames().isEmpty()) {
         	<li class="disabled"><a href="#">Delete Table</a></li>
         }
         @if(!project.getTableNames().isEmpty()) {
         	<li><a href="#">Delete Table</a></li>
         }
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Block <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getTableNames().isEmpty()) {
         	<li class="disabled"><a href="#">Using Attribute Equivalence</a></li>
         }
         @if(!project.getTableNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#blocking_key_modal">Using Attribute Equivalence</a></li>
         }
         <li class="disabled"><a href="#">Using Blocking Rule</a></li>
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Function <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getFunctionNames().isEmpty()) {
         	<li class="disabled"><a href="#">Browse Functions</a></li>
         }
         @if(!project.getFunctionNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#browse_functions_modal">Browse Functions</a></li>
         }
         <li><a data-toggle="modal" href="#add_function_modal">Add Function</a></li>
         <li><a data-toggle="modal" href="#import_functions_modal">Import Functions</a></li>
         @if(project.getUnsavedFunctions().isEmpty()) {
         	<li class="disabled"><a href="#">Save Function</a></li>
         	<li class="disabled"><a href="#">Save All Functions</a></li>
         }
         @if(!project.getUnsavedFunctions().isEmpty()) {
         	<li><a data-toggle="modal" href="#save_function_modal">Save Function</a></li>
         	<li><a href="@controllers.project.routes.RuleController.saveAllFunctions(project.getName())">Save All Functions</a></li>
         }
         @if(project.getFunctionNames().isEmpty()) {
         	<li><a href="#">Delete Function</a></li>
         }
         @if(!project.getFunctionNames().isEmpty()) {
         	<li><a href="#">Delete Function</a></li>
         }
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Feature <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getFeatureNames().isEmpty()) {
         	<li class="disabled"><a href="#">Browse Features</a></li>
         }
         @if(!project.getFeatureNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#browse_features_modal">Browse Features</a></li>
         }
         @if(project.getTableNames().isEmpty() || project.getFunctionNames().isEmpty()) {
         	<li class="disabled"><a href="#">Add Feature</a></li>
         	<li class="disabled"><a href="#">Import Features</a></li>
         }
         @if(!project.getTableNames().isEmpty() && !project.getFunctionNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#add_feature_modal">Add Feature</a></li>
         	<li><a data-toggle="modal" href="#import_features_modal">Import Features</a></li>
         }
         @if(project.getFeatureNames().isEmpty()) {
         	<li class="disabled"><a href="#">Edit Feature</a></li>
         }
         @if(!project.getFeatureNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#edit_feature_modal">Edit Feature</a></li>
         }
         @if(project.getUnsavedFeatures().isEmpty()) {
         	<li class="disabled"><a href="#">Save Feature</a></li>
         	<li class="disabled"><a href="#">Save All Features</a></li>
         }
         @if(!project.getUnsavedFeatures().isEmpty()) {
         	<li><a data-toggle="modal" href="#save_feature_modal">Save Feature</a></li>
         	<li><a href="@controllers.project.routes.RuleController.saveAllFeatures(project.getName())">Save All Features</a></li>
         }
         @if(project.getFeatureNames().isEmpty()) {
         	<li class="disabled"><a href="#">Delete Feature</a></li>
         }
         @if(!project.getFeatureNames().isEmpty()) {
         	<li><a href="#">Delete Feature</a></li>
         }
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Rule <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getRuleNames().isEmpty()) {
         	<li class="disabled"><a href="#">Browse Rules</a></li>
         }
         @if(!project.getRuleNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#browse_rules_modal">Browse Rules</a></li>
         }
         @if(project.getTableNames().isEmpty() || project.getFeatureNames().isEmpty()) {
         	<li class="disabled"><a href="#">Add Rule</a></li>
         	<li class="disabled"><a href="#">Import Rules</a></li>
         }
         @if(!project.getTableNames().isEmpty() && !project.getFeatureNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#add_rule_modal">Add Rule</a></li>
         	<li><a data-toggle="modal" href="#import_rules_modal">Import Rules</a></li>
         }
         @if(project.getRuleNames().isEmpty()) {
         	<li class="disabled"><a href="#">Edit Rule</a></li>
         }
         @if(!project.getRuleNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#edit_rule_modal">Edit Rule</a></li>
         }
         @if(project.getUnsavedRules().isEmpty()) {
         	<li class="disabled"><a href="#">Save Rule</a></li>
         	<li class="disabled"><a href="#">Save All Rules</a></li>
         }
         @if(!project.getUnsavedRules().isEmpty()) {
         	<li><a data-toggle="modal" href="#save_rule_modal">Save Rule</a></li>
         	<li><a href="@controllers.project.routes.RuleController.saveAllRules(project.getName())">Save All Rules</a></li>
         }
         @if(project.getRuleNames().isEmpty()) {
         	<li class="disabled"><a href="#">Delete Rule</a></li>
         }
         @if(!project.getRuleNames().isEmpty()) {
         	<li><a href="#">Delete Rule</a></li>
         }
         <li class="divider"></li>
         <li class="disabled"><a href="#">Learn Rules Using Training Data</a></li>
         <li class="disabled"><a href="#">Learn Rules Using Active Learning</a></li>
         <li class="disabled"><a href="#">Learn Rules Using Crowd</a></li>
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Matcher <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getMatcherNames().isEmpty()) {
         	<li class="disabled"><a href="#">Browse Matchers</a></li>
         }
         @if(!project.getMatcherNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#browse_matchers_modal">Browse Matchers</a></li>
         }
         @if(project.getTableNames().isEmpty() || project.getRuleNames().isEmpty()) {
         	<li class="disabled"><a href="#">Add Matcher</a></li>
         	<li class="disabled"><a href="#">Import Matchers</a></li>
         }
         @if(!project.getTableNames().isEmpty() && !project.getRuleNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#add_matcher_modal">Add Matcher</a></li>
         	<li><a data-toggle="modal" href="#import_matchers_modal">Import Matchers</a></li>
         }
         @if(project.getMatcherNames().isEmpty()) {
         	<li class="disabled"><a href="#">Edit Matcher</a></li>
         }
         @if(!project.getMatcherNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#edit_matcher_modal">Edit Matcher</a></li>
         }
         @if(project.getUnsavedMatchers().isEmpty()) {
         	<li class="disabled"><a href="#">Save Matcher</a></li>
         	<li class="disabled"><a href="#">Save All Matchers</a></li>
         }
         @if(!project.getUnsavedMatchers().isEmpty()) {
         	<li><a data-toggle="modal" href="#save_matcher_modal">Save Matcher</a></li>
         	<li><a href="@controllers.project.routes.RuleController.saveAllMatchers(project.getName())">Save All Matchers</a></li>
         }
         @if(project.getMatcherNames().isEmpty()) {
         	<li class="disabled"><a href="#">Delete Matcher</a></li>
         }
         @if(!project.getMatcherNames().isEmpty()) {
         	<li><a href="#">Delete Matcher</a></li>
         }
         <li class="divider"></li>
         <li class="disabled"><a href="#">Learn Matcher Using Supervised Learning (e.g. SVM)</a></li>
         <li class="disabled"><a href="#">Learn Matcher Using Unsupervised Learning</a></li>
      </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Match <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getTableNames().isEmpty() || project.getMatcherNames().isEmpty()) {
   		 	<li class="disabled"><a href="#">Normal Mode</a></li>
   		 	<li class="disabled"><a href="#">Debug Mode</a></li>
   		 }
   		 @if(!project.getTableNames().isEmpty() && !project.getMatcherNames().isEmpty()) {
   		 	<li><a data-toggle="modal" href="#matching_modal">Normal Mode</a></li>
   		 	<li><a data-toggle="modal" href="#matching_modal_debug">Debug Mode</a></li>
   		 }
 	  </ul>
   </li>
   <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Evaluate <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      	 @if(project.getTableNames().isEmpty()) {
         	<li class="disabled"><a href="#">Using Absolute Gold</a></li>
         	<li class="disabled"><a href="#">Using Labeled Data</a></li>
         }
         @if(!project.getTableNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#evaluate_gold_modal">Using Absolute Gold</a></li>
         	<li><a data-toggle="modal" href="#evaluate_with_labeled_data_modal">Using Labeled Data</a></li>
         }
         <li class="disabled"><a href="#">Using Crowd</a></li>
      </ul>
   </li>

 <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Debug 	<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    	 @if(project.getTableNames().isEmpty() || project.getMatcherNames().isEmpty()) {
         	<li class="disabled"><a href="#">On the fly</a></li>
         	<li class="disabled"><a href="#">On the fly with labeled data</a></li>
         }
         @if(!project.getTableNames.isEmpty() && !project.getMatcherNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#matching_details_on_fly_modal">On the fly</a></li>
         	<li><a data-toggle="modal" href="#matching_details_on_fly_with_labeled_data_modal">On the fly with labeled data</a></li>
         }
         @if(project.getMatchingSummaryNames().isEmpty()) {
         	<li class="disabled"><a href="#">Using existing results</a></li>
         }
         @if(!project.getMatchingSummaryNames().isEmpty()) {
         	<li><a data-toggle="modal" href="#matching_details_using_results_modal">Using existing results</a></li>
         }
         <!--<li><a data-toggle="modal" href="#">Candidate set view</a></li>-->
   	</ul>
 </li>
 <li class="disabled"><a href="#">One Shot Matching</a></li>  
 <!--  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         Debug <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
         <li><a data-toggle="modal" href="#matching_details_modal">Matching details</a></li>
         <li><a href="#">Skyline</a></li>
      </ul>
   </li> -->
</ul>

@views.html.common.modals.project_modals(project)
